In [1]:
import pandas as pd
d=pd.read_csv('kidney_disease.csv')

In [2]:
d.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [3]:
d.tail()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [4]:
d.columns

Index(['id', 'age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr',
       'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [5]:
d.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [6]:
pd.set_option('display.max_column',None)

In [7]:
d

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,36.0,1.2,NaN,NaN,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,18.0,0.8,NaN,NaN,11.3,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,53.0,1.8,NaN,NaN,9.6,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,56.0,3.8,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,26.0,1.4,NaN,NaN,11.6,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,49.0,0.5,150.0,4.9,15.7,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,31.0,1.2,141.0,3.5,16.5,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,26.0,0.6,137.0,4.4,15.8,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,50.0,1.0,135.0,4.9,14.2,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,18.0,1.1,141.0,3.5,15.8,53,6800,6.1,no,no,no,good,no,no,notckd

In [8]:
d.drop(['id','ba','bgr','bu','sc'],axis=1,inplace=True)

In [9]:
d.head()

,age,bp,sg,al,su,rbc,pc,pcc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,NaN,NaN,15.4,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,NaN,NaN,11.3,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,NaN,NaN,9.6,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,NaN,NaN,11.6,35,7300,4.6,no,no,no,good,no,no,ckd

In [10]:
d.shape

(400, 21)

In [11]:
d.dropna(inplace=True)

In [12]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167 entries, 3 to 399
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             167 non-null    float64
 1   bp              167 non-null    float64
 2   sg              167 non-null    float64
 3   al              167 non-null    float64
 4   su              167 non-null    float64
 5   rbc             167 non-null    object
 6   pc              167 non-null    object
 7   pcc             167 non-null    object
 8   sod             167 non-null    float64
 9   pot             167 non-null    float64
 10  hemo            167 non-null    float64
 11  pcv             167 non-null    object
 12  wc              167 non-null    object
 13  rc              167 non-null    object
 14  htn             167 non-null    object
 15  dm              167 non-null    object
 16  cad             167 non-null    object
 17  appet           167 non-null    object
 18  pe              167 non-null    object
 19  ane             167 non-null    object
 20  classification  167 non-null    object
dtypes: float64(8), object(13)
memory usage: 28.7+ KB

In [13]:
d.head()

,age,bp,sg,al,su,rbc,pc,pcc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,111.0,2.5,11.2,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,114.0,3.7,9.5,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,131.0,4.2,10.8,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,130.0,6.4,5.6,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,135.0,5.2,7.7,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd

In [14]:
d['classification'].value_counts() # we can see how many are effeected.

classification
notckd    120
ckd        47
Name: count, dtype: int64

In [15]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
d['rbc']=l.fit_transform(d['rbc'])
d['pc']=l.fit_transform(d['pc'])
d['pcc']=l.fit_transform(d['pcc'])
d['htn']=l.fit_transform(d['htn'])
d['dm']=l.fit_transform(d['dm'])
d['cad']=l.fit_transform(d['cad'])
d['appet']=l.fit_transform(d['appet'])
d['ane']=l.fit_transform(d['ane'])
d['pe']=l.fit_transform(d['pe'])
d['classification']=l.fit_transform(d['classification'])

d.head()

,age,bp,sg,al,su,rbc,pc,pcc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,48.0,70.0,1.005,4.0,0.0,1,0,1,111.0,2.5,11.2,32,6700,3.9,1,0,0,1,1,1,0
9,53.0,90.0,1.020,2.0,0.0,0,0,1,114.0,3.7,9.5,29,12100,3.7,1,1,0,1,0,1,0
11,63.0,70.0,1.010,3.0,0.0,0,0,1,131.0,4.2,10.8,32,4500,3.8,1,1,0,1,1,0,0
14,68.0,80.0,1.010,3.0,2.0,1,0,1,130.0,6.4,5.6,16,11000,2.6,1,1,1,1,1,0,0
20,61.0,80.0,1.015,2.0,0.0,0,0,0,135.0,5.2,7.7,24,9200,3.2,1,1,1,1,1,1,0

In [16]:
d

,age,bp,sg,al,su,rbc,pc,pcc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
3,48.0,70.0,1.005,4.0,0.0,1,0,1,111.0,2.5,11.2,32,6700,3.9,1,0,0,1,1,1,0
9,53.0,90.0,1.020,2.0,0.0,0,0,1,114.0,3.7,9.5,29,12100,3.7,1,1,0,1,0,1,0
11,63.0,70.0,1.010,3.0,0.0,0,0,1,131.0,4.2,10.8,32,4500,3.8,1,1,0,1,1,0,0
14,68.0,80.0,1.010,3.0,2.0,1,0,1,130.0,6.4,5.6,16,11000,2.6,1,1,1,1,1,0,0
20,61.0,80.0,1.015,2.0,0.0,0,0,0,135.0,5.2,7.7,24,9200,3.2,1,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,150.0,4.9,15.7,47,6700,4.9,0,0,0,0,0,0,1
396,42.0,70.0,1.025,0.0,0.0,1,1,0,141.0,3.5,16.5,54,7800,6.2,0,0,0,0,0,0,1
397,12.0,80.0,1.020,0.0,0.0,1,1,0,137.0,4.4,15.8,49,6600,5.4,0,0,0,0,0,0,1
398,17.0,60.0,1.025,0.0,0.0,1,1,0,135.0,4.9,14.2,51,7200,5.9,0,0,0,0,0,0,1
399,58.0,80.0,1.025,0.0,0.0,1,1,0,141.0,3.5,15.8,53,6800,6.1,0,0,0,0,0,0,1

In [17]:
d['pcv'].value_counts()

pcv
52    15
41    15
48    14
44    12
45    10
50     9
43     8
42     8
46     8
30     5
40     5
29     4
51     4
49     4
54     4
47     3
53     3
32     3
22     3
33     3
24     3
26     3
35     3
37     3
39     2
23     2
31     2
28     2
16     1
20     1
36     1
25     1
9      1
34     1
15     1
Name: count, dtype: int64

In [18]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Index: 167 entries, 3 to 399
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             167 non-null    float64
 1   bp              167 non-null    float64
 2   sg              167 non-null    float64
 3   al              167 non-null    float64
 4   su              167 non-null    float64
 5   rbc             167 non-null    int32
 6   pc              167 non-null    int32
 7   pcc             167 non-null    int32
 8   sod             167 non-null    float64
 9   pot             167 non-null    float64
 10  hemo            167 non-null    float64
 11  pcv             167 non-null    object
 12  wc              167 non-null    object
 13  rc              167 non-null    object
 14  htn             167 non-null    int32
 15  dm              167 non-null    int32
 16  cad             167 non-null    int32
 17  appet           167 non-null    int32
 18  pe              167 non-null    int32
 19  ane             167 non-null    int32
 20  classification  167 non-null    int32
dtypes: float64(8), int32(10), object(3)
memory usage: 22.2+ KB

In [19]:
x=d.drop(['classification'],axis=1)
x

,age,bp,sg,al,su,rbc,pc,pcc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
3,48.0,70.0,1.005,4.0,0.0,1,0,1,111.0,2.5,11.2,32,6700,3.9,1,0,0,1,1,1
9,53.0,90.0,1.020,2.0,0.0,0,0,1,114.0,3.7,9.5,29,12100,3.7,1,1,0,1,0,1
11,63.0,70.0,1.010,3.0,0.0,0,0,1,131.0,4.2,10.8,32,4500,3.8,1,1,0,1,1,0
14,68.0,80.0,1.010,3.0,2.0,1,0,1,130.0,6.4,5.6,16,11000,2.6,1,1,1,1,1,0
20,61.0,80.0,1.015,2.0,0.0,0,0,0,135.0,5.2,7.7,24,9200,3.2,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,1,1,0,150.0,4.9,15.7,47,6700,4.9,0,0,0,0,0,0
396,42.0,70.0,1.025,0.0,0.0,1,1,0,141.0,3.5,16.5,54,7800,6.2,0,0,0,0,0,0
397,12.0,80.0,1.020,0.0,0.0,1,1,0,137.0,4.4,15.8,49,6600,5.4,0,0,0,0,0,0
398,17.0,60.0,1.025,0.0,0.0,1,1,0,135.0,4.9,14.2,51,7200,5.9,0,0,0,0,0,0
399,58.0,80.0,1.025,0.0,0.0,1,1,0,141.0,3.5,15.8,53,6800,6.1,0,0,0,0,0,0

In [20]:
y=d['classification']
y

3      0
9      0
11     0
14     0
20     0
      ..
395    1
396    1
397    1
398    1
399    1
Name: classification, Length: 167, dtype: int32

In [21]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [22]:
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((133, 20), (34, 20), (133,), (34,))

In [23]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(xtrain,ytrain) 
model.score(xtest,ytest)

1.0

In [24]:
from sklearn.svm import SVC
model=SVC()
model.fit(xtrain,ytrain) 
model.score(xtest,ytest)

0.6764705882352942

In [25]:
model.predict(xtest)

array([1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [26]:
ytest

351    1
369    1
92     0
71     0
389    1
378    1
371    1
270    1
213    0
27     0
399    1
281    1
298    1
181    0
263    1
282    1
225    0
326    1
384    1
394    1
246    0
252    1
286    1
133    0
340    1
323    1
24     0
157    0
311    1
338    1
58     0
341    1
14     0
171    0
Name: classification, dtype: int32

In [27]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression() # it's function is not regression but its usefed in classification.
model.fit(xtrain,ytrain) 
model.score(xtest,ytest) # it is used for looking the accuracy.

C:\Users\ACER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

1.0

In [28]:
ytest

351    1
369    1
92     0
71     0
389    1
378    1
371    1
270    1
213    0
27     0
399    1
281    1
298    1
181    0
263    1
282    1
225    0
326    1
384    1
394    1
246    0
252    1
286    1
133    0
340    1
323    1
24     0
157    0
311    1
338    1
58     0
341    1
14     0
171    0
Name: classification, dtype: int32

In [29]:
model.predict(xtest)

array([1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0])

In [30]:
xtest

,age,bp,sg,al,su,rbc,pc,pcc,sod,pot,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
351,29.0,80.0,1.020,0.0,0.0,1,1,0,139.0,3.3,17.5,40,9900,4.7,0,0,0,0,0,0
369,75.0,70.0,1.020,0.0,0.0,1,1,0,144.0,3.5,13.6,46,10300,4.8,0,0,0,0,0,0
92,71.0,70.0,1.010,3.0,0.0,1,0,1,133.0,4.4,10.4,33,5600,3.6,1,1,1,0,0,0
71,46.0,60.0,1.010,1.0,0.0,1,1,0,141.0,4.0,9.8,28,14600,3.2,1,1,0,0,0,0
389,41.0,80.0,1.025,0.0,0.0,1,1,0,140.0,5.0,17.0,52,7200,5.8,0,0,0,0,0,0
378,71.0,60.0,1.025,0.0,0.0,1,1,0,140.0,4.8,15.2,42,7700,5.5,0,0,0,0,0,0
371,28.0,60.0,1.025,0.0,0.0,1,1,0,145.0,5.0,17.6,51,6500,5.0,0,0,0,0,0,0
270,23.0,80.0,1.025,0.0,0.0,1,1,0,145.0,4.0,14.3,41,7200,5.0,0,0,0,0,0,0
213,55.0,80.0,1.010,3.0,1.0,1,0,1,137.0,4.9,10.9,34,7400,3.7,1,1,0,0,1,0
27,69.0,70.0,1.010,3.0,4.0,1,0,0,130.0,4.0,12.5,37,9600,4.1,1,1,1,0,1,0
399,58.0,80.0,1.025,0.0,0.0,1,1,0,141.0,3.5,15.8,53,6800,6.1,0,0,0,0,0,0
281,55.0,80.0,1.025,0.0,0.0,1,1,0,147.0,5.0,15.5,41,9100,6.0,0,0,0,0,0,0
298,34.0,60.0,1.020,0.0,0.0,1,1,0,135.0,4.5,13.5,48,8600,4.9,0,0,0,0,0,0
181,45.0,70.0,1.025,2.0,0.0,1,0,1,136.0,3.8,10.0,30,19100,3.7,0,0,0,0,0,0
263,45.0,80.0,1.020,0.0,0.0,1,1,0,137.0,5.0,16.2,45,8600,5.2,0,0,0,0,0,0
282,20.0,70.0,1.020,0.0,0.0,1,1,0,135.0,3.8,14.6,44,5500,4.8,0,0,0,0,0,0
225,60.0,90.0,1.010,3.0,5.0,0,1,0,131.0,3.8,11.5,35,12000,4.5,1,1,0,0,0,0
326,47.0,60.0,1.020,0.0,0.0,1,1,0,141.0,4.7,15.8,41,8300,5.2,0,0,0,0,0,0
384,57.0,60.0,1.020,0.0,0.0,1,1,0,150.0,4.7,15.4,42,11000,4.5,0,0,0,0,0,0
394,50.0,80.0,1.020,0.0,0.0,1,1,0,139.0,5.0,14.1,45,9500,4.6,0,0,0,0,0,0
246,48.0,110.0,1.015,3.0,0.0,0,1,1,120.0,5.7,8.6,26,5000,2.5,1,0,1,0,0,1
252,45.0,80.0,1.025,0.0,0.0,1,1,0,147.0,4.4,15.9,46,9100,4.7,0,0,0,0,0,0
286,71.0,70.0,1.020,0.0,0.0,1,1,0,145.0,5.0,14.7,44,9800,6.0,0,0,0,0,0,0
133,70.0,100.0,1.015,4.0,0.0,1,1,0,136.0,4.9,12.0,37,\t8400,8.0,1,0,0,0,0,0
340,32.0,70.0,1.025,0.0,0.0,1,1,0,142.0,4.5,14.3,43,6700,5.9,0,0,0,0,0,0
323,43.0,80.0,1.025,0.0,0.0,1,1,0,143.0,5.0,15.9,45,7800,4.5,0,0,0,0,0,0
24,42.0,100.0,1.015,4.0,0.0,1,0,0,129.0,4.0,11.1,39,8300,4.6,1,0,0,1,0,0
157,62.0,70.0,1.025,3.0,0.0,1,0,0,136.0,4.7,12.6,39,7900,3.9,1,1,0,0,0,0
311,56.0,60.0,1.025,0.0,0.0,1,1,0,147.0,4.7,13.7,45,7500,5.6,0,0,0,0,0,0
338,62.0,80.0,1.020,0.0,0.0,1,1,0,147.0,3.5,17.8,44,4700,4.5,0,0,0,0,0,0
58,73.0,80.0,1.020,2.0,0.0,0,0,0,138.0,5.8,10.5,33,7200,4.3,1,1,1,0,0,0
341,63.0,70.0,1.025,0.0,0.0,1,1,0,150.0,5.0,13.4,41,7300,4.7,0,0,0,0,0,0
14,68.0,80.0,1.010,3.0,2.0,1,0,1,130.0,6.4,5.6,16,11000,2.6,1,1,1,1,1,0
171,83.0,70.0,1.020,3.0,0.0,1,1,0,115.0,5.7,8.7,26,12800,3.1,1,0,0,1,0,1

In [31]:
pred=model.predict([[24.0,80.0,1.025,0.0,0.0,1,1,0,136.0,3.5,15.4,43,5600,4.5,0,0,0,0,0,0]])
if pred=='1':
    print('Chronic Kidney Disease')
else:
    print('The Patient is healthy')

The Patient is healthy

C:\Users\ACER\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(